# Database Configuration
DB_HOST=localhost
DB_NAME=login_system_db
DB_USER=root
DB_PASS=

# GOOGLE OAuth Configuration
GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here
GOOGLE_REDIRECT_URL=http://localhost/LoginSystem/controller.php
# GitHub OAuth Configuration
GITHUB_CLIENT_ID=your_client_id_here
GITHUB_CLIENT_SECRET=your_client_secret_here
GITHUB_REDIRECT_URL=http://localhost/LoginSystem/github_controller.php

# AI API Configuration
AI_API_KEY=your_api_key_here
