# Скрываем переменные окружения с паролями
.env

#  зависимости 
vendor/

#  папки с загруженными картинками 
uploaded_img/
products_img/

#  дампы баз данных с реальными данными пользователей
database/*.sql
!database/schema.sql 

# Системные файлы macOS
.DS_Store